.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.line {
}
._流程形状 {
}
.table_cell {
}
._连接线 {
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.box_2 {
}
.shape1 {
}
.image {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
.label {
  font-size:14px;
  text-align:left;
}
.button {
}
.box_3 {
}
.ellipse {
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.box_1 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.html_button {
  text-align:center;
}
.icon {
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.checkbox {
  text-align:left;
}
textarea, select, input, button { outline: none; }
